{% include "head.html" %}

<br /><br /><br />
<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<div class="section_title_container text-center">
					<div class="section_title"><h1>Oops...</h1></div>
				</div>
				<div class="intro_text text-center">
					<p>That page was not found... Please go back <a href="{{ url_for('home') }}">home</a></p>
				</div>
				<div class="button button_2 intro_button"><a href="{{ reglink }}"><span>get tickets<img src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></span></a></div>
			</div>
		</div>
	</div>
</div>


{% include "footer.html" %}