	<!-- Intro/About -->
	<a name="about"></a>
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container text-center">
						<div class="section_title"><h1>About KidsFish Fish Lubbock</h1></div>
					</div>
					<div class="intro_text text-center">
						<p>The {{ annual }} KidsFish Lubbock is a free event for you and your family and will be<br />Saturday, {{ date }}, from 7 a.m. – 1 p.m. at Maxey Park.</p>
						<p>Free food will be provided with registration, and the lake will be stocked with channel catfish ready for your family.</p>
					</div>
					<div class="button button_2 intro_button"><a href="{{ reglink }}"><span>get tickets<img src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></span></a></div>
					<div class="intro_text text-center">
						<p><a href="{{ url_for('waiver') }}">Registation Waiver</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>