{% set active_page = "home" %}
{% include "head.html" %}

{% include "slider.html" %}

	<!-- Timer -->

	<div class="timer_section">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='images/timer.jpg') }}" data-speed="0.8"></div>
		<div class="timer_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="timer_container">
						<ul class="timer d-flex flex-row align-items-center justify-content-start">
							<li class="d-flex flex-column justify-content-start align-items-center">
								<div id="day" class="timer_num">3</div>
								<div class="timer_unit">Days</div>
							</li>
							<li class="d-flex flex-column justify-content-start align-items-center">
								<div id="hour" class="timer_num">00</div>
								<div class="timer_unit">Hours</div>
							</li>
							<li class="d-flex flex-column justify-content-start align-items-center">
								<div id="minute" class="timer_num">00</div>
								<div class="timer_unit">Minutes</div>
							</li>
							<li class="d-flex flex-column justify-content-start align-items-center">
								<div id="second" class="timer_num">00</div>
								<div class="timer_unit">Seconds</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "about.html" %}

	{% include "faq.html" %}

	{% include "schedule.html" %}

	{% include "team.html" %}

	{% include "footer.html" %}