<!-- Tabs Section -->

<div class="tabs_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">You asked, we answered</div>
                    <div class="section_title"><h1>Frequently Asked Questions</h1></div>
                </div>
                <div class="tabs_container">
                    <div class="tabs d-flex flex-row align-items-center justify-content-start flex-wrap">
                        <div class="tab active">Fishing License?</div>
                        <div class="tab">Got bait?</div>
                        <div class="tab">Fishing Poles?</div>
                        <div class="tab">Why Register?</div>
                        <div class="tab">Did I read prizes?</div>
                        <div class="tab">Can I keep what I catch?</div>
                        <div class="tab">Lunch? Really?</div>
                        <div class="tab">Anything else?</div>
                    </div>
                    <div class="tab_panels">
                        <div class="tab_panel active">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>Do we need a fishing license?</h3></div>
                                        <div class="tab_text">
                                            <p>Texas Parks & Wildlife Department waives the fishing license requirement for adults to fish with their kids ONLY at this event from 7AM-1PM. Kids under 17 always fish free in Texas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>Will I need to bring bait?</h3></div>
                                        <div class="tab_text">
                                            <p>Bait will be provided by our sponsor, Cabela's. You can bring your own bait as well.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>Do I need to bring a fishing pole?</h3></div>
                                        <div class="tab_text">
                                            <p>If you have one, great! Bring it to try it out, but if not, poles will be available to borrow at registration. Quantity limited. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>Is registration necessary?</h3></div>
                                        <div class="tab_text">
                                            <p>All must either pre-register or register at event. Pre-registered participants still have to check in upon arrival to receive event wristband for lunch and other freebies including free door prizes! This helps with rental supplies and our sponsors to help get prepared for the event.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>Will we get anything from the event? </h3></div>
                                        <div class="tab_text">
                                            <p>First 500 kids to the event get free t-shirts and all kids will get a small goodie bag. There are also raffle drawings for all registered attendees. Don't forget to check in your fish your catch for various prizes for each age group.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>What do we do with all that we catch?</h3></div>
                                        <div class="tab_text">
                                            <p>Maxey Park will be stocked with Channel Catfish which in community ponds there are no minimum size requirements to keep what you catch but can only keep up to 5.</p>
                                            <p>All other fish caught must adhere to size requirements and bag limits set by Texas Parks & Wildlife. See <a href="https://tpwd.texas.gov/regulations/outdoor-annual/app/" target="_blank">Outdoor Annual app</a> or <a href="https://tpwd.texas.gov/regulations/outdoor-annual/fishing/freshwater-fishing/bag-length-limits" target="_blank">Texas Parks and Wildlife website</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>What about lunch?</h3></div>
                                        <div class="tab_text">
                                            <p>Lunch will be provided by our sponsors at 11 AM. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab_panel">
                            <div class="row">
                                <div class="col">
                                    <div class="tab_panel_content">
                                        <div class="tab_title"><h3>Is there anything else I should bring?</h3></div>
                                        <div class="tab_text">
                                            <p>Bring a chair or blanket, sunscreen and smile! </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
