{% include "cta.html" %}

<!-- Footer -->

<footer class="footer">
    <div class="footer_container">
        <div class="container">
            <div class="row">

                <!-- Footer About -->
                <div class="col-lg-4 footer_col">

                    <!-- Logo -->
                    <div class="logo">
                        <a href="{{ url_for('home') }}">
                            <span>Kids<span>Fish</span></span>
                            <span>Lubbock</span>
                        </a>
                    </div>
                    <div class="footer_text">
                        <p>Proudly sponsored by the <a href="https://lubbocklions.org/">Lubbock Lions Club</a>, <a href="https://tpwd.texas.gov/warden/warden-by-county.phtml?county=Lubbock">Texas Game Warden Association</a>, <a href="https://www.heb.com/heb-store/US/tx/lubbock/lubbock-h-e-b-772">H-E-B</a>, <a href="https://agents.allstate.com/usa/tx/lubbock">Allstate</a>, and <a href="https://stores.cabelas.com/us/tx/lubbock/3030-w-loop-289.html">Cabela's</a><br />
                        <a href="/waiver">Registation Waiver</a> | <a href="{{ reglink }}">Register</a></p>
                    </div>
                    <div class="social footer_social">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li><a href="https://www.facebook.com/kidfishlubbock/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="/privacy"><i class="fa fa-shield" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_column">
                        <div class="footer_title">Newsletter</div>
                            <a class="btn newsletter_button" href="http://eepurl.com/dF_87z"><span>subscribe<img src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></span></a>
                        </form>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_column">
                        <div class="footer_title">Location</div>
                        <p>
                            <strong>{{ park }}</strong><br />
                            301 Interstate 27<br />
                            Lubbock, TX 79403
                        </p>
                        
                    </div>
                </div>


            </div>
        </div>
    </div>

<div class="footer_bar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
                    <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Design: <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> | Maintained by: <a href="https://claytonerrington.com" target="_blank">Clayton Errington</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>

</div>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js' )}}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/popper.js' )}}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TweenMax.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TimelineMax.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmagic/ScrollMagic.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/animation.gsap.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/ScrollToPlugin.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/owl.carousel.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/colorbox/jquery.colorbox-min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/progressbar/progressbar.min.js' )}}"></script>
<script src="{{ url_for('static', filename='plugins/parallax-js-master/parallax.min.js' )}}"></script>
<script src="{{ url_for('static', filename='js/custom.js' )}}"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SLRST1F7ZM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SLRST1F7ZM');
</script>


{% if active_page == 'contact' %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg4e4ZMpVcTUOVw3xUaaso5KhFvUin5Wo&callback=initMap"
    async defer></script>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('google_map'), {
          center: {lat: 33.5845076, lng: -101.8308184},
          zoom: 16
        });
      }
    </script>
<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endif %}
</body>
</html>
