<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="The {{ annual }} Annual Kidfish Lubbock is a free event for you and your family and will be Saturday, {{ date }}, 7 a.m. – 1 p.m. at Maxey Park. Free food will be provided with registration. The lake will be stocked with channel catfish ready for your family.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.css') }}">
	<link href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/owl.carousel.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/owl.theme.default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/OwlCarousel2-2.3.4/animate.css') }}">
	<link href="{{ url_for('static', filename='plugins/colorbox/colorbox.css') }}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_styles.css') }}">
	{% if active_page == 'contact' %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/responsive.css') }}">
</head>
<body>

	<div class="super_container">
	
		<!-- Header -->
	
		<header class="header">
			<div class="header_content d-flex flex-row align-items-center justify-content-start">
				
				<!-- Logo -->
				<div class="logo">
					<a href="{{ url_for('home') }}">
						<span>Kid<span>Fish</span></span>
						<span>Lubbock</span>
					</a>
				</div>
	
				{% include "menu.html" %}
			</div>
		</header>
