	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="slide">
					<div class="background_image" style="background-image:url('/static/images/index.jpg')"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_title">
											<h1>
												<span>KidFish</span>
												<span>Lubbock</span>
											</h1>
										</div>
										<div class="home_info_container">
											<div class="home_info">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li>{{ date }}</li>
													<li>Maxey Park, Lubbock</li>
												</ul>
											</div>
										</div>
										<div class="button button_1 home_button"><a href="#"><span>register now<img src="static/images/arrow_2.png" alt=""></span></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide 
				<div class="slide">
					<div class="background_image" style="background-image:url('../static/images/index.jpg')"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_title">
											<h1>
												<span>KidFish</span>
												<span>Lubbock</span>
											</h1>
										</div>
										<div class="home_info_container">
											<div class="home_info">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li>"" EVENT DATE ""</li>
													<li>Maxey Park, Lubbock</li>
												</ul>
											</div>
										</div>
										<div class="button button_1 home_button"><a href="#"><span>register now<img src="static/images/arrow_2.png" alt=""></span></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide 
				<div class="slide">
					<div class="background_image" style="background-image:url('../static/images/index.jpg')"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_title">
											<h1>
												<span>KidFish</span>
												<span>Lubbock</span>
											</h1>
										</div>
										<div class="home_info_container">
											<div class="home_info">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li>"" EVENT DATE ""</li>
													<li>Maxey Park, Lubbock</li>
												</ul>
											</div>
										</div>
										<div class="button button_1 home_button"><a href="#"><span>register now<img src="static/images/arrow_2.png" alt=""></span></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div-->
			</div>

			<!-- Home Slider Dots
			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
									<li class="home_slider_custom_dot active">01.</li>
									<li class="home_slider_custom_dot">02.</li>
									<li class="home_slider_custom_dot">03.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>		
			</div-->

		</div>
	</div>