<!-- Speakers -->

<div class="speakers">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h1>Meet The Team</h1></div>
                    <div class="section_subtitle">We couldn't do this with out our great volunteers from the community</div>
                </div>
            </div>
        </div>
        <div class="row speakers_row">
            
            <!-- Speaker -->
            <div class="col-xl-4 col-md-6">
                <div class="speaker">
                    <div class="speaker_image"><img src="{{ url_for('static', filename='images/ray.jpg') }}" alt=""></div>
                    <div class="speaker_info d-flex flex-column align-items-start justify-content-center">
                        <div class="speaker_name">Ray Freeman</div>
                        <div class="speaker_title">Cabela's Sponsorship</div>
                    </div>
                </div>
            </div>

            <!-- Speaker -->
            <div class="col-xl-4 col-md-6">
                <div class="speaker">
                    <div class="speaker_image"><img src="{{ url_for('static', filename='images/mallory2.jpg') }}" alt=""></div>
                    <div class="speaker_info d-flex flex-column align-items-start justify-content-center">
                        <div class="speaker_name">Mallory Mitchell</div>
                        <div class="speaker_title">Texas Parks and Wildlife</div>
                    </div>
                </div>
            </div>

            <!-- Speaker -->
            <div class="col-xl-4 col-md-6">
                <div class="speaker">
                    <div class="speaker_image"><img src="{{ url_for('static', filename='images/clayton.jpg') }}" alt=""></div>
                    <div class="speaker_info d-flex flex-column align-items-start justify-content-center">
                        <div class="speaker_name">Clayton Errington</div>
                        <div class="speaker_title">Web Design</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row speakers_row">
            <!-- Speaker -->
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title"><h2>In Memory</h2></div>
                </div>
            </div>
        </div>
        <div class="row speakers_row">
            <!-- Speaker -->
            <div class="col-xl-4 col-md-6 offset-md-2">
                <div class="speaker">
                    <div class="speaker_image"><img src="{{ url_for('static', filename='images/tom2.jpg') }}" alt=""></div>
                    <div class="speaker_info d-flex flex-column align-items-start justify-content-center">
                        <div class="speaker_name">Tom Martin</div>
                        <div class="speaker_title">Co-Chair</div>
                    </div>
                </div>
            </div>

            <!-- Speaker -->
            <div class="col-xl-4 col-md-6">
                <div class="speaker">
                    <div class="speaker_image"><img src="{{ url_for('static', filename='images/david.jpg') }}" alt=""></div>
                    <div class="speaker_info d-flex flex-column align-items-start justify-content-center">
                        <div class="speaker_name">David Abbott</div>
                        <div class="speaker_title">Public Relations</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>